.card {
  width: 40%;
  display: flex;
  flex-direction: column;
  border: 1px rgb(35, 46, 82) solid;
  align-content: center;
  margin: 0 auto;
}
.card-header {
  height: 35%;
  background-color: #5d6770;
  color: white;
  text-align: center;
}
.card-header p {
  font-size: 20px;
}
.container {
  padding: 4px 16px;
}
